<!doctype html>
<!--[if lt IE 7]><html class="no-js ie lt-ie10 lt-ie9 lt-ie8 lt-ie7" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js ie ie7 lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie ie8 lt-ie9 lt-ie10" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js ie ie9  lt-ie10" lang="en"><![endif]-->
<!--[if IE 10]><html class="no-js ie ie10 lt-ie11" lang="en"><![endif]-->
<!--[if gt IE 10]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
	<meta charset="utf-8">
	<title>Secure Directory | Visiting Committees &amp; Councils | The University of Chicago</title>
	
	{% include('inc/head.html.twig') %}
</head>  
<body>
	{% include('inc/header.html.twig') %}
	<div class="container">
		<h1 class="page-title">Secure Directory - beta</h1>
		<div class="row">
			<div class="span9 pull-right">
				<div class="maincontent">
					<p>Didn't find what you were looking for? <a href="search.php">Start a new search.</a><br/>
					Is your info incorrect or incomplete? <a href="mailto:spaepen@uchicago.edu?subject=Update for Visiting Committee Member">Contact us with an update.</a></p>

					<h2>Member Information</h2>
					<p>Please Note: Member data is not available for printing at this time. Please contact Alumni Relations &amp; Development if you need a copy of this information.</p>
					
					<div id="memberdata">

						{% for m in members %}
							<p>
								<strong>{{  m.full_name }}</strong><br />
								{% if m.degrees %}{{  m.degrees }}<br />{% endif %}
								{% if  m.employment_job_title %}{{  m.employment_job_title }}<br />{% endif %}
								{% if m.employment_employer_name %}{{  m.employment_employer_name }}<br />{% endif %}
							</p>
				
							<h3>Preferred Contact Information</h3>
							<p>
								{% if m.email %}<a href="mailto:{{  m.email }}">{{  m.email }}</a><br />{% endif %}
								{% if m.phone %}Phone: <a href="tel:{{   m.phone }}">{{ m.phone }}</a>{% endif %}
							</p>
							
							<h3>Preferred Mailing Address</h3>
							<p>
								{% if m.street %}{{  m.street}}{% endif %}
								<br />
								{% if m.city %}{{   m.city  }},{% endif %} {% if m.state %}{{  m.state }}{% endif %} {% if m.zip %}{{ m.zip }}{% endif %}</p>

							<h3>Committees:</h3>
							<p>
								{% for c in committees %}
								<a href="results.php?c={{ c.COMMITTEE_CODE }}">{{  c.FULL_DESC }}</a><br />
								{% endfor %}
							</p>
						{% endfor %}
					</div><!-- end member data div -->
				</div>
			</div>
			<div class="span3">				
				{% include('inc/navigation.html.twig') %} <!-- this now includes the related links as well -->
				{% include('inc/related-links.html.twig') %}
			</div>					
		</div>
	</div><!-- /#page-wrapper -->
	<div class="push"><!--//--></div>

	{% include('inc/footer.html.twig') %}

<!-- Insert all js calls here  (jquery is included in the footer inc) -->

</body>
</html>
	