{% extends "layout.twig" %}

{% block title %}Secure Directory{% endblock %}

{% block content %}

	<div class="container">
		<h1 class="page-title">Secure Directory</h1>
			<div class="row">
				<div class="span9 pull-right">
					<div class="maincontent">
						{% if ShowCommiteeResults %}
						
						<p>Didn't find what you were looking for?  <a href="search.php">Browse again or start a new search.</a></p>
						
						<h2 id="cmtname">{{ Committee }}</h2>
						
						<p>
							<ul>
								<li><strong>Click on a member's last name to see additional information.</strong></li>
								<li>You may sort by clicking the table's headings headings.</li>
								<li>Data incorrect or incomplete? <a href="mailto:spaepen@uchicago.edu?subject=Update for Visiting Committee Member">Contact us with an update.</a></li>
							</ul>
						</p>
						<p><strong>Please Note:</strong> Member data is not available for printing at this time. Please contact Alumni Relations &amp; Development if you need a copy of this information.</p>
						<div>
							<h3>{{ Chairman }}</h3>
							<p class="small"><em>*Denotes a Life Member.</em></p>
						</div>
                        <div class="table-toggle">
                        	<a href="#" id="oButton">+ expand all</a> / <a href="#" id="cButton">- collapse all</a>
                        </div>  
                        <div class="memberdata">
							<table border="0" cellspacing="3" cellpadding="3" class="display table table-striped" id="results">
								<thead>
									<tr>
										<th>Last Name</th>
										<th>First Name</th>
										<th>Email</th>
										<th>Phone</th>
									</tr>
								</thead>
								<tbody>
                                {% for m in members %}
									<tr class="row-view">
										<td><strong>{{ m.last_name }}</strong>
											<div class="infodiv" style="display:none;">{{ m.degrees }}:{{ m.street }}:{{ m.city }}:{{ m.state }}:{{ m.zip }}:{{ m.employment_job_title }}:{{ m.employment_employer_name}}</div>
										</td>
										<td>{{ m.first_name }} {{ m.middle }}</td>
										<td><a href="mailto:{{ m.email }}">{{ m.email }}</a></td>
										<td><a href="tel:{{ m.phone }}">{{ m.phone }}</a></td>
									</tr>
								{% endfor %}
								</tbody>
							</table>
						</div>
						{% endif %}

						{% if ShowSearchResults %}
					  	<h2>Name Search Results</h2>
						<p><strong>{{ total }} results found.</strong> Click on a member's name to see additional information.</br>Didn't find what you were looking for? <a href="search.php">Start a new search.</a></p>
						<p><strong>Please Note:</strong> Member data is not available for printing at this time. Please contact Alumni Relations &amp; Development if you need a copy of this information.</p>
						<div class="memberdata">
							<table border="0" cellspacing="3" cellpadding="3" class="display table table-striped" id="search_resuls">
								<thead>
									<tr>
										<th width="50%">Name</th>
										<th>Committees</th>      
									</tr>
								</thead>
								<tbody>
                                {% for m in members %}
									<tr>
										<td><a href="member.php?id_number={{ m.id_number }}">{{ m.last_name }}, {{ m.first_name }} {{ m.middle }}</a></td>
										<td>{{ m.membership_display }}</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
						{% endif %}
					</div>
				</div>
				<div class="span3">				
					{{ include('inc/navigation.html.twig') }} <!-- this now includes the related links as well -->
					{{ include('inc/related-links.html.twig') }}
				</div>					
			</div>
		</div>

{% endblock content %}