<!doctype html>
<!--[if lt IE 7]><html class="no-js ie lt-ie10 lt-ie9 lt-ie8 lt-ie7" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js ie ie7 lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie ie8 lt-ie9 lt-ie10" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js ie ie9  lt-ie10" lang="en"><![endif]-->
<!--[if IE 10]><html class="no-js ie ie10 lt-ie11" lang="en"><![endif]-->
<!--[if gt IE 10]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
	<meta charset="utf-8">
	<title>Secure Directory | Visiting Committees &amp; Councils | The University of Chicago</title>
	
	{{ include('inc/head.html.twig') }}
</head>  
<body>
	{{ include('inc/header.html.twig') }}
	<div class="container">
		{% if y %}
			<div class="error">{{ authentication_error }}</div>
		{% endif %}	
		<h1 class="page-title">Visiting Committees Directory - beta</h1>
		<div class="row">
			<div class="span9 pull-right">
				<div class="content region-content">
					<p><em>The names listed on the individual Committee pages are current as of October 4, 2012.</em></p>
					<p><em>For questions or corrections, please contact the Assistant Secretary of the University, <a href="mailto:spaepen@uchicago.edu?subject=VC%20Website%20Comment">Geertrui M. Spaepen</a></em></p>
					<p class="rtecenter"><strong>History</strong></p>
					<p>In 1920, in order to provide context for the Trustees' oversight of the University's financial affairs and to better educate members of the Board about the work and mission of the University, the Board approved the creation of fourteen "Commissions," representing each of the existing departments and groups on campus, which met quarterly and were charged with educating the Board of Trustees about the work of each department or group.&nbsp; Though these Commissions were dissolved in 1938, they formed a template for the system of Visiting Committees that were created a decade later to serve as advocates for the academic units.&nbsp; The article currently in place in the Bylaws that provides for Visiting Committees as Standing Committees of the Board of Trustees of the University of Chicago was adopted in 1966; minor amendments have been enacted since that time.</p>
					<p class="rtecenter"><strong>Charge</strong></p>
					<p>The Visiting Committees are charged with increasing the understanding of the Board of Trustees and other friends of the University in the various operations of the University and in the work of the Divisions, Schools, and Departments, thus providing an informed group that can be of assistance to the University and to its faculties.&nbsp; The Visiting Committees' ability to perform this function is facilitated by the active participation of the Deans and Directors, the President, and the Administration, who provide the members of the Visiting Committees with the information they need to carry out their responsibilities.</p>
					<p class="rtecenter"><strong>Roles and Responsibilities of Members</strong></p>
					<p>The University seeks to identify potential Visiting Committee members and encourage currently serving members to be engaged, effective advocates for the academic units and for the University.&nbsp; As part of this process, the University has developed these guidelines to clarify what is expected of those invited to join the Visiting Committees.</p>
					<ol>
						<li>Faithful and consistent participation in Visiting Committee meetings and functions.&nbsp; (Participation in other University events is also encouraged.)</li>
						<li value="2">Preparation for meetings by reviewing the agenda and any supporting materials, and active participation in a collegial manner in discussions at those meetings, particularly in discussions involving matters within the experience and expertise of the Visiting Committee member.&nbsp;</li>
						<li value="3">When possible, acceptance of invitations to serve in leadership positions and other special assignments, including subcommittees or <em>ad hoc</em> committees.&nbsp; When asked, willingness to assist in writing the annual letter from the Visiting Committee to the President.</li>
						<li value="4">Providing advice and counsel at the behest of the Dean or Director.</li>
						<li value="5">Contribution to the annual fund and to the academic unit at a level appropriate to the Visiting Committee member's financial resources and other demands on those resources.&nbsp; Visiting Committee members are among the most valued and committed supporters of the University and its academic units, and should affirm the value of the University by helping to meet its financial needs.&nbsp; Individual units may set specific fund-raising targets for the members of their Visiting Committees.</li>
						<li value="6">Willingness to open doors on behalf of the academic unit to secure the financial, human, and political resources necessary for the unit to accomplish its mission and purposes successfully.&nbsp; Advocacy for the unit within one's sphere of influence, whenever the opportunity arises.&nbsp; (In each case, these activities are to be undertaken in a coordinated fashion and with appropriate regard for ethical, legal, and similar considerations.)</li>
						<li value="7">Maintenance of the confidentiality of any Visiting Committee discussions that involve sensitive matters and of all confidential and/or proprietary information of the unit and/or the University.</li>
						<li value="8">Appreciation of the need to keep informed about the academic unit, its role within the University, and trends and issues in higher education that can affect its future.</li>
					</ol>	
				</div>
			</div>
			<div class="span3">				
				{{ include('inc/navigation.html.twig') }} <!-- this now includes the related links as well -->
			</div>					
		</div>
	</div><!-- /#page-wrapper -->
	<div class="push"><!--//--></div>

	{{ include('inc/footer.html.twig') }}

<!-- Insert all js calls here  (jquery is included in the footer inc) -->

</body>
</html>
	